<template>
  <div id="app"  >
    <p> App </p>
  </div>
</template>

<script>
  export default {
    name: 'App',
    //inheritAttrs: false,
    //customOptions: {},
    components: {
    },
   }
</script>
